<div class="alert alert-warning" role="alert">
    Please input your Information.
</div>
<div class="input-group">
    <span class="input-group-addon">NickName:</span>
    <input type="text" id="IIInickName" class="form-control">
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">Personal Description</span>
    <textarea id="IIIdescription" class="form-control"></textarea>
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">phoneNumber</span>
    <input type="text" id="IIIphoneNumber" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">City</span>
    <input type="text" id="IIIcity" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">Birthday</span>
    <input type="text" id="IIIbirthday" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">School</span>
    <input type="text" id="IIIschool" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">Interest</span>
    <input type="text" id="IIIinterest" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">CardId</span>
    <input type="text" id="IIIcardId" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">NowCity</span>
    <input type="text" id="IIInowCity" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">PublicMail</span>
    <input type="text" id="IIIpublicMail" class="form-control" >
</div>
<br>
<span style="text-align:center;">
    <button type="button" id="IIIsubmit" class="btn btn-info" >Alter</button>
</span>
<br>
<br>
