<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            </a>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Map <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Map</a></li>
                        <li class="divider"></li>
                        <li><a href="#text">Text</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Friends <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#friends">Friends</a></li>
                        <li><a href="#message">Message</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown" id="signNav">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Sign <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#signin">Sign In</a></li>
                        <li class="divider"></li>
                        <li><a href="#signup">Sign Up</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown" id="signNav">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <p id="profileNav">profile</p>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#profile">Information</a></li>
                        <li class="divider"></li>
                        <li><a href="#setting" id="profileNav"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="/api/api-auth/logout?next=/#" id="profileNav"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
