<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="MPModalLabel">Made something of it!</h4>
    </div>
    <div class="modal-body">
        <input type="text" class="form-control" placeholder="Title" id="markPostTitle"><br>
        <textarea class="form-control" rows="3" id="markPostText" placeholder="Text"></textarea><br>
        <p>Picture: </p>
        <input type="file" id="picFile" style="width: 100%">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="markPostCloseButton">Close</button>
        <button type="button" class="btn btn-primary" id="markPostButton2">Post</button>
    </div>

</div>

