<br>
<div class="input-group">
    <span class="input-group-addon">NickName:</span>
    <input type="text" id="nickName" class="form-control">
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">Personal Description</span>
    <textarea id="description" class="form-control"></textarea>
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">phoneNumber</span>
    <input type="text" id="phoneNumber" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">City</span>
    <input type="text" id="city" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">Birthday</span>
    <input type="text" id="birthday" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">School</span>
    <input type="text" id="school" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">Interest</span>
    <input type="text" id="interest" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">CardId</span>
    <input type="text" id="cardId" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">NowCity</span>
    <input type="text" id="nowCity" class="form-control" >
</div>
<br>
<div class="input-group">
    <span class="input-group-addon">PublicMail</span>
    <input type="text" id="publicMail" class="form-control" >
</div>
<br>
<span style="text-align:center;">
    <button type="button" id="signup" class="btn btn-info" onclick="location.href='#signup'">Alter</button>
    <button type="button" class="btn btn-danger" onclick="location.href='/api/api-auth/logout?next=/#'">Sign Out</button>
</span>
<br>
<br>
