<br>
<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    <input type="text" id="siUsername" class="form-control" placeholder="Username">
</div>
<br>
<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-leaf"></span></span>
    <input type="password" id="siPasswd" class="form-control" placeholder="Password">
</div>
<br>
<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-eye-close"></span></span>
    <input type="text" id="verification" class="form-control" placeholder="Verification">
</div>
<br>
<span style="text-align:center;">
    <button type="button" id="signin" class="btn btn-primary">Sign In</button>
    <button type="button" class="btn btn-info" onclick="location.href='#signup'">Sign up</button>
</span>
<br>
<br>
<div class="alert alert-danger" role="alert" id="alert">Password Error or Verification Error!</div>
